html{
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.RevetriaMatias{
    width: 40em;
    text-align: center;
    background-color: brown;
}

