html {
  font-size: 62.5%;
  box-sizing: border-box;
}

header {
  background-color: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
  border-radius: 50px;
}

.titulo-header {
  position: absolute;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.RevetriaMatias {
  width: 25em;
  height: 30em;
  border-radius: 3em;
  border: 2px solid #333;
  color: black;
  background-image: url(images/assassins.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.alan-wake2 {
  width: 25em;
  height: 30em;
  border-radius: 3em;
  border: 2px solid #333;
  color: black;
  background-image: url(images/alan-wake2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hollow-knight {
  width: 25em;
  height: 30em;
  border-radius: 3em;
  border: 2px solid #333;
  color: black;
  background-image: url(images/hollow-knight.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.RevetriaMatias .alan-wake2 .hollow-knight .titulo {
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 6.5px;
  transform: translate(-50%);
  border-radius: 5em;
  backdrop-filter: blur(20px);
  color: #fff;
  cursor: pointer;
}

.RevetriaMatias .alan-wake2 .hollow-knight .titulo a {
  text-decoration: none;
  color: #fff;
}

.RevetriaMatias:hover {
  transform: scale(1.5);
}

.alan-wake2:hover {
  transform: scale(1.5);
}

.hollow-knight:hover {
  transform: scale(1.5);
}
