* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

header {
  width: 100%;
  background-color: black;
}

nav {
  display: flex;
  height: 6em;
  background-color: rgb(40, 207, 110);
}
.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
}

.headerHollowKnight {
  width: 100%;
  height: auto;
  background-color: black;
}

body {
  background-color: black;
}

.mainHolder {
  margin: 4em 10em;
}

h1 {
  color: white;
  text-align: center;
  font-size: 2.3em;
  margin-bottom: 1em;
  font-weight: 500;
}

h2 {
  font-size: 2em;
  font-weight: 400;
}

p,
ul {
  font-size: 1.2em;
  font-weight: 300;
}

.rowsHolder {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 3em 1em;
}

.imageAndText,
.textAndImage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgInRow {
  width: 48%;
  height: auto;
}

.textInRow {
  width: 45%;
  text-align: left;
  color: white;
}

.video-container {
  position: relative;
  display: flex;
}

@media (max-width: 1250px) {
  .imageAndText,
  .textAndImage {
    flex-direction: column;
  }
  .mainHolder {
    margin: 3em 0em;
  }
  .imgInRow {
    width: 70%;
    height: auto;
  }
  .textInRow {
    width: 70%;
  }
}
