* {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

header {
  width: 100%;
}

.headerHollowKnight {
  width: 100%;
  height: auto;
}

.mainHolder {
  margin: 4em 10em;
}

h1 {
  color: white;
  text-align: center;
  font-size: 2.3em;
  margin-bottom: 1em;
  font-weight: 500;
}

h2 {
  font-size: 2em;
  font-weight: 400;
}

p,
ul {
  font-size: 1.2em;
  font-weight: 200;
}

.rowsHolder {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 3em 1em;
}

.imageAndText,
.textAndImage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgInRow {
  width: 48%;
  height: auto;
}

.textInRow {
  width: 45%;
  text-align: left;
  color: white;
}
