/* Nav Gaming Zone */

* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.header {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 50;
}

.navcontainer {
  /* margin-top: -6em; */
  display: flex;
  width: 100%;
  font-size: 0.8rem;
  justify-content: space-between;
  height: 6em;
  background-color: rgb(51, 90, 69);
  font-family: "Outfit", sans-serif;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  z-index: 100;
}

.navLogos {
  /* box-sizing: border-box; */
  margin-top: 5px;
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px;
  padding-bottom: 10px;
}

.navLogos img {
  width: 100%;
  height: 100%;
}

.navLinks {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
  width: 20vw;
}

.navLinks a {
  margin-left: 0.5rem;
  white-space: nowrap;
  color: white;
  font-size: 100%;
  text-decoration: none;
}

.navLinks a:hover {
  color: rgb(0, 255, 0);
}

@media screen and (max-width: 768px) {
  .navLogos .img2 {
    display: none;
  }

  .navbar-brand {
    display: none;
  }
  body .img-xxl img {
    width: 95%;
  }
  /* .section3 h2 {
      font-size: 1rem;
    } */
}

@media screen and (max-width: 425px) {
  .navLinks {
    flex-wrap: wrap;
  }
}
